{% extends "my_site/base.html" %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <label for="title">Назначение: </label>
            <input id="title" type="text" name="title" value='{{ posts.title }}'>
        <label for="content">Сумма: </label>
            <input id="content" type="number" step="0.01" min="0" placeholder="0,00" name="content" value='{{ posts.content }}'>
            <input type="submit" value="Добавить">
    </form>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
              <div class="article-metadata">
              <small class="text-muted">{{ post.date_posted|date:'d/m/Y f a'}} </small>
              </div>
            <p class="article-content">{{ post.content }} р.</p>
               <div class="col-md-4">
          </div>
        </article>
    {% endfor %}
{% endblock content %}