{% extends "my_site/base.html" %}
{% block content %}

    <div>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.content }}<br>
        <button class="btn btn-success" type="submit">Добавить</button><br>
    </form>
    </div>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
              <div class="article-metadata">
              <small class="text-muted">{{ post.date_posted|date:'d/m/Y f a'}} </small>
              </div>
            <p class="article-content">{{ post.content }} р.</p>
               <div class="col-md-4">
          </div>
        </article>
    {% endfor %}
{% endblock content %}